.body{
    margin: 20px;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: 5fr .5fr .5fr;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    /* margin-right: 20px; */
}

.logo {
    margin-right: 10px;
}

.results {
    margin-top: 20px;
}
